{
  "[typescript]": {
    "editor.formatOnPaste": false,
    "editor.formatOnSave": false
  },
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true
}
