.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: 20px;
	margin: auto;
}



.registration-form {
	min-width: 350px;
	min-height: 350px;
	padding: 35px;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	display: flex;
	flex-direction: column;
	background: #a6e9c2;
	border-radius: 10px;
}

h1 {
	color: #253E82;
}